<div class="form-container mat-elevation-z5">
    <h1 class="center margin-top">Înregistreză-te</h1>
    <form class="example-form" [formGroup]="registerForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">
          Adresa de email trebuie să aibă formatul <strong>corect</strong>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Parolă" formControlName="password" type="password">
        <mat-error *ngIf="password?.errors?.['required']">
          Parola este <strong>obligatorie</strong>
        </mat-error>
      </mat-form-field>
        <span class="center margin-top"><a href="login">Ai cont deja?</a></span><br>

        <div class="center margin-top">
            <button mat-raised-button color="accent">Înregistrare</button>
        </div> 
    </form>
</div>
  